---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de mi",
	subTitle=''
	description="Todo lo que deben saber acerca de mi"
	pubDate={new Date('September 01 2024')}
	heroImage="/about-me.webp"
>
<p>
	Mi nombre es Jimmy Berríos Gallo, actualmente me dedico al desarrollo de soluciones cloud en GCP con el lenguaje de programación Java y el framework Springboot.
	La intención de este blog es compartir con todos uds mis mayores hobbies como lo son la programación, terror, anime, cultura geek y videojuegos.
</p>
<p>
	Aparte de dedicarme al desarrollo de software a medida para las grandres empresas, tambien soy un escritor aficionado, amante del anime y todo lo que conlleva la cultura geek, y un aficionado del desarrollo de videojuegos.
	Estoy recien comenzando a entrar en este mundo de la creación de contenido y he querido compartir con todos, los conocimientos que he adquirido en las muchas areas que amo. Puede ser algo confuzo quizas que el blog tenga tantas categorias dentro, pero eso les puede dar una idea del tipo de persona que soy.
</p>
</Layout>
